# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.DevIncubatorBase.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\ivank\source\repos\DevIncubatorBase\.idea\.idea.DevIncubatorBase\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
